@{
    ViewBag.PageTitle = "Orders Management";
    ViewBag.CardTitle = "View Orders";
}

<br />
<table id="myTable" class="table table-hover" width="100%">
    <thead class="text-bold">
        <tr>
            <td>Order ID</td>
            <td>Name</td>
        
            <td>Email</td>
            <td>Order Status</td>
            <td>Total Price</td>
            <td>Action</td>


        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/orders.js"></script>
}