@{
    // Determine the layout to use based on the presence of "ParentLayout" in ViewData
    Layout = ViewData["ParentLayout"]?.ToString() ?? "/Areas/Identity/Pages/_Layout.cshtml";
}

<!-- Page Title -->
<br />
<br />

<div class="container">
    <hr />

    <!-- Main Content Layout -->
    <div class="row">
        <!-- Navigation Menu -->
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>

        <!-- Main Content Area -->
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
<br />
<br />
<br />


<!-- Optional Scripts Section -->
@section Scripts {
    @RenderSection("Scripts", required: false)
}
